body {
    font-family: 'GenJyuuGothic-Monospace', sans-serif; /* 源界明朝にする */
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 200px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.photo:hover {
    transform: scale(1.1);
}
